@model Scraping.Models.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    @Html.TextBox("Orgnr")
    <button type="submit">Sök</button>
}

@if (!string.IsNullOrEmpty(Model.CompanyName))
{
    @Html.DisplayFor(m => Model.CompanyName)
}